.section {
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.img {
		width: 100%;
	}

	.userWrapper {
		display: flex;
		align-items: center;
		gap: 40px;

		.userInfo {
			display: flex;
			align-items: center;
			gap: 10px;
			font-family: var(--madurai);

			.userImg {
				width: 50px;
				border-radius: 50%;
				object-fit: cover;
			}

			.userPostInfo {
				font-size: 16px;

				span {
					font-weight: bold;
				}
			}
		}

		.postOptions {
			display: flex;
			gap: 20px;

			a {
				padding: 10px;
				font-size: 25px;
				border-radius: 50%;

				div {
					display: flex;
					justify-content: center;
					align-items: center;

					svg {
						fill: var(--white);
					}
				}
			}

			.edit {
				background-color: var(--blue);
			}

			.delete {
				background-color: #d0342c;
			}
		}
	}

	.postContent {
		.title {
			font-family: var(--montserrat);
			font-size: 32px;
			margin-bottom: 30px;
		}

		div {
			h1:not(.title) {
				font-size: 28px;
			}

			h2 {
				font-size: 25px;
			}

			h3 {
				font-size: 23px;
			}

			p {
				font-family: var(--madurai);
				font-size: 20px;
				word-wrap: break-word;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.section {
		flex-direction: row;
		padding: 50px 5vw 200px;
		gap: 5vw;

		.content {
			width: 70%;
			gap: 30px;

			.img {
				max-height: 30vw;
				object-fit: cover;
			}

			.userWrapper {
				gap: 40px;

				.userInfo {
					gap: 10px;

					.userImg {
						width: 50px;
					}

					.userPostInfo {
						font-size: 16px;
					}
				}

				.postOptions {
					gap: 20px;

					a {
						padding: 10px;
						font-size: 25px;
					}
				}
			}

			.postContent {
				margin-top: 2vw;

				.title {
					font-size: 36px;
					margin-bottom: 3vw;
				}

				div {
					h1:not(.title) {
						font-size: 29px;
					}

					h2 {
						font-size: 26px;
					}

					h3 {
						font-size: 23.5px;
					}

					p {
						font-size: 20px;
					}
				}
			}
		}
	}
}
