.sidePost {
	position: relative;
	display: block;
	height: 375px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.contentWrapper {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px 20px;
		color: var(--black);
		background-color: var(--lightblue);

		h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}

		div {
			.desc {
				margin-bottom: 5px;
			}

			.date {
				font-weight: bold;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.sidePost {
		display: block;
		height: 300px;

		img {
			width: 100%;
			height: 100%;
		}

		.contentWrapper {
			width: 100%;
			padding: 10px 20px;

			h4 {
				font-size: 18px;
				margin-bottom: 10px;
			}

			div {
				.desc {
					margin-bottom: 5px;
				}
			}
		}
	}
}
