/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@700&display=swap');

:root {
	--madurai: 'Hind Madurai', sans-serif;
	--lora: 'Lora', serif;
	--montserrat: 'Montserrat', sans-serif;

	--white: #fffaff;
	--black: #1e1b18;
	--blue: #3e92cc;
	--lightblue: #7dcfb6;
}

* {
	padding: 0;
	margin: 0;
	font-family: var(--madurai);
	box-sizing: border-box;
	list-style-type: none;
	border: none;
	outline: none;
	text-decoration: none;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
	background-color: var(--lightblue);
	padding: 15px;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
	font-size: 18px;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

@media only screen and (min-width: 1280px) {
	.mySwiper {
		.swiper-wrapper {
			flex-direction: column;
			gap: 2vw;
		}

		.swiper-button-prev::after,
		.swiper-button-next::after {
			display: none;
		}
	}
}
